.task {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
  ul {
    float: left;
    width: 20%;
  
    padding-left: 10px;
  }
  .my-tr{
    float: left;
    width: 20%;
  
    padding-left: 10px;
  }
 
 .car-item {
  text-align: center;
  word-break: break-all;
}