
<form [formGroup]="frmAdd"  (ngSubmit)="onSubmit()">
  <legend>{{pageTitle}}{{id}}</legend>

  <!-- title input -->
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" id="" placeholder="Title task" formControlName="title">
  </div>
  <!-- date input -->
  <div class="form-group">
    <label for="">Date</label>
    <input type="date" class="form-control" id=""  formControlName="date">
  </div>
  <!-- status input -->
  <div class="form-group">
      <label for="">Status</label>
    <select name="" id="input" class="form-control"  formControlName="status">
      <option value=true>Complete</option>
      <option value=false>Waitting</option>
    </select>

  </div>
  <!-- block input -->
  <div class="form-group" >
    <label for="">Block</label>
    <input type="text" class="form-control"  placeholder="Block task" formControlName="block">
  </div>


  <button type="submit" class="btn btn-primary" [disabled]="frmAdd.invalid">Save </button>
  <!-- <button type="submit" class="btn btn-primary" [disabled]="frmAdd.invalid">Save update</button> -->

</form>

