<!-- <div id="content" class="container">
  <div class="task" style="width: 470px">
    <ul style="width:50px">Id</ul>
    <ul>Title</ul>
    <ul>Date</ul>
    <ul>Status</ul>
    <ul>Block</ul>
  </div>
</div>
<div id="content" class="container" *ngFor="let todo of todoArray ">

  <div id="post">
    <app-task [task]="todo" [style.color]="todo.status? 'green' : 'red'"></app-task> -->
<!-- </div>

  <div id="sidebar">
    <app-btn-edit-de [task]="todo" [arr]="todoArray" (deleteButtonClick)="getArrChange($event)"
      (selectTodo)="selectedTodo($event)"></app-btn-edit-de>

      <lib-format-paragraph  routerLink="/edit/{{todo.id}}" icon="pi pi-pencil" class="ui-button-success"></lib-format-paragraph> -->
<!--       
  </div>
</div> -->
<!-- 
<app-todo-detail [selectTodo]="selecTodo"></app-todo-detail> -->
<!-- 
<p-virtualScroller [value]="todoArray" scrollHeight="200px" [itemSize]="50">
  <p-header>
    <div class="ui-g" style="width: 600px">
      <div class="ui-g-12 ui-md-3">
        <div class="ui-g-10 ui-sm-6">Title</div>
      </div>
      <div class="ui-g-12 ui-md-3">
        <div class="ui-g-10 ui-sm-6">Date</div>
      </div>
      <div class="ui-g-12 ui-md-3">
        <div class="ui-g-10 ui-sm-6">Status</div>
      </div>
      <div class="ui-g-12 ui-md-3">
        <div class="ui-g-10 ui-sm-6">Block</div>
      </div>
    </div>
  </p-header>
  <ng-template let-todo pTemplate="item" let-i="index">
    <div id="post">
      <app-task [task]="todo" [style.color]="todo.status? 'green' : 'red'"></app-task>
     <lib-table-data [title]="todo.title" [date]="todo.date" [status]="todo.status" [block]="todo.block"
        [style.color]="todo.status ? 'green' : 'red'"></lib-table-data> 
         
    </div>
    <div id="sidebar">
       <app-btn-edit-de [task]="todo" [arr]="todoArray" (deleteButtonClick)="getArrChange($event)"
        (selectTodo)="selectedTodo($event)"></app-btn-edit-de> -->
     
    <!-- </div>
  </ng-template>
</p-virtualScroller>
<lib-show-dialog [titleDialog]="sendData?.title" [dateDialog]="sendData?.date" [statusDialog]="sendData?.status" [blockDialog]="sendData?.block"></lib-show-dialog>
<p>hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</p> --> 

<lib-table-data [listTodo]="todoArray" (sendTodo)="deleteClick($event)" (sendId)="editButtonClick($event)" (sendDialog)="getData($event)">
 
</lib-table-data>
<lib-show-dialog [titleDialog]="sendData?.title" [dateDialog]="sendData?.date" [statusDialog]="sendData?.status" [blockDialog]="sendData?.block"></lib-show-dialog>