<!-- <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText"  placeholder="&#61442;
      Start searching ">
  </div>  -->
<table class="table table-striped table-hover">
  <thead>
    <tr  >
      <th >Id</th>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th>Block</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoArray " [style.color]="todo.status? 'green' : 'red'">
      <!-- <tr *ngFor="let todo of filTodo " [style.color]="todo.status? 'green' : 'red'"> -->
      <td>{{todo.id}}</td>
      <td>{{todo?.title}}</td>
      <td>{{todo?.date}}</td>
      <td>{{todo?.status ? 'Complete' :'Waitting'}}</td>
      <td>{{todo?.block}}</td>
      <td>
          <button class="btn btn-primary" (click)="editButtonClick(todo.id)">
            Edit
          </button>
          <!-- <button mat-mini-fab color="primary">Primary</button> -->

        </td>
        <td>
            <!-- <button mat-mini-fab color="accent"><mat-icon>delete</mat-icon></button> -->
           <button type="button" class="btn btn-danger" (click)="deleteButtonClick(todo.id)">Delete</button>

          </td>
    </tr>
  </tbody>
</table>
